.swiper {
}
.cards {
  margin-top: 28px;
  @media (max-width: 768px) {
    width: 100vw;
  }
  &__card {
    background-color: white;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 0 30px;
    border: 1px solid white;

    &:hover {
      cursor: pointer;
      background-color: #0c3d4c;
      color: white;
      .cards__line {
        background-image: url(../img/line1.svg);
      }

      .cards__price {
        color: white;
      }
    }
  }

  &__top {
  }

  &__title {
    font-weight: 600;
    font-size: 21px;
    line-height: 30px;
    text-align: center;
    padding: 0 25px;
    margin-bottom: 22px;
  }

  &__line {
    background-image: url(../img/line.svg);
    background-size: cover;
    width: 100%;
    height: 10px;
    @media (max-width: 820px) {
      height: 13px;
    }
  }

  &__text {
    margin: 35px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    text-align: center;
    padding: 0 25px;
  }

  &__bottom {
    padding: 0 25px;
  }

  &__price {
    font-family: "Philosopher";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 30px;
    text-align: center;
    color: #007296;
    margin-bottom: 21px;
  }

  .btn {
    margin: 0 auto;
  }

  .swiper-scrollbar {
    margin-top: 20px;
    height: 13px;
    position: initial;
  }

  .swiper-scrollbar-drag {
    background: #ffffff;
    opacity: 0.4;
    border-radius: 50px;
  }

  .swiper-wrapper {
    @media (max-width: 560px) {
      max-width: 70%;
    }
  }
}

.swiper-slide {
}
.btn {
}
