.header {
  color: white;
  padding-top: 34px;
  background: linear-gradient(
    180deg,
    #0e0a07 0%,
    rgba(14, 10, 7, 0.8) 60.42%,
    rgba(14, 10, 7, 0) 100%
  );
  &__container {
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content max-content;

    align-items: center;
  }

  @media (max-width: 767px) {
    padding-top: 15px;
  }

  &__name-company {
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    margin-left: 22px;
  }

  &__block {
    &_address {
      @media (max-width: 1023px) {
        display: none;
      }
    }

    &_info {
      @media (max-width: 1023px) {
        grid-column: 1/6;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateY(45px);
      }
    }
  }

  &__phone {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    display: inline-block;
    margin-bottom: 8px;
  }

  &__mode {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: 0.07em;
    text-transform: uppercase;

    color: #d6a270;
  }

  &__address {
    font-size: 16px;
    line-height: 155%;
    max-width: 150px;
    margin-right: 18px;
    justify-self: end;
    float: right;
    margin-left: 70px;
  }

  .btn_signup {
    @media (max-width: 560px) {
      display: none;
    }
  }

  &__messengers {
    @media (min-width: 561px) {
      display: none;
    }
    flex-direction: column;
    right: 15px;
    width: auto;
    top: 15px;
    li {
      margin-right: 0;
      margin-bottom: 10px;
      &:not(.header__messengers li:first-child) {
        max-height: 0;
        visibility: hidden;
        transition: max-height 0.35s ease-in-out;
      }
    }

    &.open-list {
      li:first-child a {
        background-color: white;
        background-image: url(../img/close.svg);
        background-size: 18px 18px;
        transform: rotate(180deg);
        transition: transform 0.25s linear;
      }

      li {
        max-height: 500px !important;
        visibility: visible !important;
        opacity: 1 !important;
      }
    }
  }

  @media (max-width: 560px) {
    &__name-company,
    &__container .burger {
      z-index: 200;
    }

    &__container .burger {
      position: initial;
    }
  }
}

.burger {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #007296;
  &:hover {
    cursor: pointer;
  }

  span {
    width: 22px;
    height: 2px;
    margin-bottom: 5px;
    background-color: white;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &_close {
    background-color: white;
    position: absolute;
    top: 38px;
    right: 20px;
    span {
      background-color: #007296;
      margin-bottom: 0;
      transition: transform 0.25s linear;
      &:nth-child(2) {
        display: none;
      }

      &:nth-child(1) {
        transform: rotate(45deg) translateX(1px);
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translateX(1px);
      }
    }
  }
}
