.map {
  height: 446px;
  

  .page__container {
    position: relative;
  }
  &__absolute {
    position: absolute;
    top: 66px;
    background: #ffffff;
    border-radius: 9px;
    padding: 50px;
    max-width: 350px;
    @media(max-width: 1000px) {
        right: 20px;
    }

    @media(max-width: 767px) {
        display: none;
    }
  }

  &__title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__text {
    > * {
      margin-bottom: 8px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
