.messengers {
  display: inline-flex;
  /* flex-direction: column; */
  align-items: center;
  position: absolute;

  /* width: 150px; */
  z-index: 990;
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.3s linear, opacity 0.2s linear,
    visibility 0.2s linear;

  &__item {
    margin-right: 10px;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    &:hover {
      transform: scale(1.1);
    }
  }

  &.open {
    max-height: 500px;
    opacity: 1;

    visibility: visible;
    .messengers__item {
    }
  }
}
.whatsapp {
  background-color: #29a71a;
  background-image: url(../img/wa.svg);
  background-size: 25px 25px;
}
.viber {
  background-color: #6f3faa;
  background-image: url(../img/viber.svg);
  background-size: 25px 25px;
}
.telegram {
  background-color: #039be5;
  background-image: url(../img/tlg.svg);
  background-size: 21px 21px;
}

.close {
  background-color: white;
  background-image: url(../img/close.svg);
  background-size: 21px 21px;
}
