.services {
  margin-top: 30px;
  &__item {
    padding: 38px 0;

    border-bottom: 1px solid rgba(47, 33, 28, 0.2);
    &:first-child {
      border-top: 1px solid rgba(47, 33, 28, 0.2);
    }

    &.py-2 {
      padding: 8px 0;
    }

    @media (max-width: 767px) {
      padding: 23px 0;
    }
  }

  &__block {
    &_col3 {
      display: grid;
      grid-template-columns: 1fr max-content 275px;
      justify-content: space-between;
      align-items: center;
      > *:not(:nth-child(1)) {
        justify-self: end;
      }

      > *:nth-child(2) {
        font-size: 18px;
        line-height: 22px;
      }

      @media (max-width: 820px) {
        grid-template-columns: 1fr max-content max-content;
        gap: 0 30px;
      }

      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        gap: 10px;
        > *:not(:nth-child(1)) {
          justify-self: initial;
          font-size: 18px;
        }

        > *:nth-child(2) {
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    &_col4 {
      display: grid;
      grid-template-columns: 1fr max-content 275px 200px;
      justify-content: space-between;
      align-items: center;
      > *:not(:nth-child(1)) {
        justify-self: end;
      }

      > *:nth-child(2) {
        font-size: 18px;
        line-height: 22px;
      }
      @media (max-width: 900px) {
        grid-template-columns: max-content 1fr;
        gap: 10px;
        > p {
          &:first-child {
            grid-column: 1/3;
          }
        }

        > *:not(:nth-child(1)) {
          justify-self: initial;
        }

        > *:nth-child(3) {
          justify-self: end;
        }

        .time-icon {
          justify-content: initial;
        }
      }
      @media (max-width: 767px) {
        > *:not(:nth-child(1)) {
          font-size: 16px;
        }

        > *:nth-child(2) {
          font-size: 15px;
          line-height: 22px;
        }
      }
    }

    font-weight: 600;
    font-size: 22px;
    line-height: 27px;

    &_content {
      p {
        margin-bottom: 8px;
        &:last-child {
          margin-bottom: 0;
        }

        @media (max-width: 767px) {
          font-size: 18px;
          line-height: 140%;
          span.info {
            padding-bottom: 0;
          }
        }
      }
      h3 {
        margin-bottom: 12px;
        font-weight: 600;
        font-size: 22px;
      }

      ul {
        margin-bottom: 10px;
        &.col2 {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 0 40px;
          @media (max-width: 1024px) {
            grid-template-columns: 1fr;
          }
        }
      }

      li {
        margin-bottom: 5px;
        &:last-child {
          margin-bottom: 0px;
        }
      }
    }
  }

  .spoiler .services__block_content {
    margin-top: 24px;
  }
}

.blue {
}
