.signup {
  background-image: url(../img/backgrounds/signup.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  padding: 111px 0 93px;

  @media(max-width: 560px) {
    padding: 80px 0 70px;
    background-size: 100% 100%;
  }

  @media (max-width: 560px) {
    background-image: url(../img/backgrounds/signup-mobile.png);
  }

  .page__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media(max-width: 560px) {
      padding: 0 15px;
    }
  }
  &__title {
    font-family: "Philosopher";
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 17px;
    max-width: 630px;

    @media (max-width: 560px) {
      font-size: 30px;
      line-height: 34px;
    }
  }

  &__phone {
    font-family: "Philosopher";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 14px;

    &:hover {
      color: #0099c9;
    }

    @media (max-width: 560px) {
      font-size: 36px;
      line-height: 40px;
    }
  }

  &__subtitle {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    margin-bottom: 17px;
    

    @media (max-width: 560px) {
      font-size: 16px;
      line-height: 22px;
    }
  }

  .btn {
  }
}
