.page {
  &__container {
  }
}
.section {
  &__title {
  }
}

.visit {
  &__item {
    padding: 15px 0;
    &:first-child {
      padding-top: 0;
    }

    .spoiler.open {
      padding-bottom: 15px;
      border-bottom: 1px solid rgba(47, 33, 28, 0.2);
    }

    &:last-child {
      .spoiler.open {
        border-bottom: 0;
      }
    }
  }

  &__description {
    padding-top: 12px;
    display: grid;
    grid-template-columns: 1fr max-content max-content max-content;
    justify-content: space-between;
    gap: 0 100px;

    @media (max-width: 1000px) {
      grid-template-columns: repeat(2, max-content);
      gap: 20px 10px;
    }

    .btn_signup {
        @media(min-width: 768px) {
            display: none;
        }
    }

    .signup-block {
        grid-column: 1/3;
    }
  }

  &__days {
    list-style: disc;
    padding-left: 20px;

    li {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__time {
  }

  &__price {
    > * {
      margin-bottom: 6px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    b {
      display: inline-block;
    }

    @media (max-width: 460px) {
      max-width: 130px;
    }
  }

  .btn_signup {
    &:not(.visit__description .btn_signup) {
      @media (max-width: 767px) {
        display: none;
      }
    }
  }


}
.spoiler {
  &__top {
  }

  &__click {
  }

  &__bottom {
  }
}
.blue {
}
.btn {
}
